.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
    color: gray;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5) ;

}
.Navbar .List{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 10px 20px;
    width: 100%;

}
.List li a{
padding: 0 100px;

}
.Link{
font-size: 1.5em;
}
.Navbar .List span{
    content: '';
    position: absolute;
    background-color: #00b0ff;
    height: 2px;
    bottom:0px;
    transition: all 0.5s;
}